:root {
  --color-site: #2196f3;
  --color-text: #757575;
  --color-btn-hero: #ffffff;
  --color-fnt-title: #212121;
  --background-color: #f5f4fa;
  --fon-hero: #2f303a;
  --footer-color: #2f303a;
}
.list {
  text-decoration: none;
  list-style: none;
  margin-top: 0%;
  margin-bottom: 0%;
}
h1,
h2,
h3,
p,
tell {
  margin-top: 0%;
  margin-bottom: 0%;
}
buttons {
  margin-top: 0%;
  margin-bottom: 0%;
}
a {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--color-fnt-title);
  font-size: 14px;
}

/**header**/

.logo {
  font-weight: 700;
  font-family: raleway;
  font-size: 26px;
  line-height: 1.7;
  color: var(--color-fnt-title);
}
/**header**/

.logo-web {
  color: var(--color-site);
}

.color-studio {
  color: var(--color-btn-hero);
}

.menu {
  font-weight: 1.14;
  color: var(--color-fnt-title);
}
.current {
  color: var(--color-site);
}
.menu:active {
  color: var(--color-site);
}
.menu:hover,
.menu:focus {
  color: var(--color-site);
}

.mail-tell {
  color: var(--color-text);
  display: flex;
  align-items: center;
}
.tell {
  margin-left: 50px;
}

.mail-tell:hover,
.mail-tell:focus {
  color: var(--color-site);
}

/**main**/

.hero {
  background-color: var(--fon-hero);
}

.text-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align-last: Center;
  color: var(--color-btn-hero);

  text-align: center;
}

.button-hero {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-btn-hero);
  background-color: var(--color-site);
  margin-bottom: 200px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align-last: Center;
  margin-bottom: 50px;
}

.title-small {
  font-weight: 700;
  line-height: 1.14;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.synopsis {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}

.synopsis-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}
/**end main**/
/**footer**/
.cursor {
  cursor: default;
}
.address {
  color: var(--color-btn-hero);
}

.footer {
  background-color: var(--footer-color);
}
.address-list {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
}
.section-team {
  background-color: var(--background-color);
}
.section-photo {
  display: flex;
  flex-wrap: wrap;
}

/**portfolio**/

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--color-fnt-title);
  background-color: var(--background-color);
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-btn-hero);
  background-color: var(--color-site);
  cursor: pointer;
}
.projects-title {
  font-size: 16px;
  line-height: 2;
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-text);
}
.address:hover,
.address:focus {
  color: var(--color-site);
}
/**FLEX**/
.header-conteiner {
  justify-content: space-between;
  display: flex;
}
.navigation,
.list {
  display: flex;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul,
ol,
li {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0;
}
img {
  display: block;
}
.logo {
  margin-right: 90px;
}

.menu:not(:last-child) {
  margin-right: 50px;
}
.list-it {
  display: flex;
  align-items: center;
}
.title-small {
  margin-left: none;
  margin-bottom: 10px;
  padding-top: 30px;
}
.title-css {
  margin-bottom: 10px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.synopsis-team {
  padding-bottom: 30px;
  max-width: 270px;
  display: flex;
  justify-content: center;
}
.section {
  padding-bottom: 94px;
  margin-top: 94px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.project-text {
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.list-qualities {
  flex-basis: calc((100%-120) / 4);
}
.text-hero {
  text-align: center;
}
.text-button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  padding-left: 32px;
}
.button-hero {
  min-height: 50px;
  min-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  padding-left: 32px;
}
.footer-list {
  display: flex;
  flex-direction: column;
}

.margin-iteam:not(:nth-child(3n)) {
  margin-right: 30px;
}
.margin-iteam:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.margin-iteam-index:nth-child(4n) {
  margin-right: 0%;
}

.margin-iteam-index {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}
.button-hero {
  margin-left: 485px;
  margin-right: 485px;
}
.text-hero {
  display: flex;
  min-width: 696px;
  margin-left: 237px;
  margin-right: 237px;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 200px;
}
